.card-container {
  border: 1px solid #dfdfda;
  border-radius: 7px;
  /* width: 50%; */
  margin: auto;
  max-width: 1920px;
  min-width: 360px;
}

.card-section {
  /* padding: 20px; */
  text-align: left;
}

.card-header {
  display: grid;
  align-items: center;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  border-bottom: 1px solid #dfdfda;
  padding: 10px;
}

.item-things {
  display: flex;
  align-items: center;
}

.item1 {
  grid-column: 1/5;
}

.item1 p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.item-icon {
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin-right: 8px;
}

.item-icon > .MuiSvgIcon-root {
  margin: auto;
}

.item2 {
  grid-column: 6/9;
  overflow: hidden;
}

.item2,
.item3,
h5 {
  font-size: 14px;
  font-weight: normal;
  color: #6d7878;
}

.item2,
.item3 p {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.item3 {
  grid-column: 10 / 12;
  overflow: hidden;
}

.item4 {
  grid-column: 12/12;
  float: right;
}

.item4 > .MuiButtonBase-root {
  background-color: #251964;
  text-transform: none;
  color: white;
  font-size: 13px;
  width: 6rem;
  height: 35px;
}

.item4 > .MuiButtonBase-root:hover {
  background-color: #5e4fa8;
  color: white;
  width: 6rem;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px 7px;
  /* margin-left: 10px; */
}

.card-footer > .MuiSvgIcon-root {
  font-size: 18px;
}

.boton-materia {
  display: flex;
  align-items: center;
  width: 73px;
  height: 24px;
  border: 1px solid #dfdfda;
  border-radius: 16px;
  margin: 4px 0px;
  padding: 10px;
  margin: 0;
  justify-content: space-between;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #01ceaa;
  flex: none;
}

.materia {
  font-weight: bold;
  font-size: 12px;
  color: #1a1a1a;
}
